/*******************/
/** hover-bounce1 **/
/*******************/
.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--my-blue);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    -webkit-transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    -webkit-transition-property: transform;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
}

.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
    color: var(--my-gray);
}

.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/*******************/
/** hover-bounce2 **/
/*******************/
.hvr-stripe {
    position: relative;
}

.hvr-stripe::before {
    content: "";
    position: absolute;
    left: -0.3rem;
    top: -0.1rem;
    width: calc(100% + 0.6rem);
    height: calc(100% + 0.2rem);
    background-color: var(--my-orange);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
    z-index: -10;
}

.hvr-stripe:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
/**************/
/** buzz-out **/
/**************/
@keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

.hvr-buzz-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-buzz-out:hover,
.hvr-buzz-out:focus,
.hvr-buzz-out:active {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/****************/
/** hover-grow **/
/****************/
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/******************/
/** animate-text **/
/******************/
.animate-line {
    position: relative;
}

.animate-line::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -0.3rem;
    left: 0;
    background-color: var(--my-gray);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.animate-line.animate-line-black::before {
    background-color: rgb(100 116 139);
    height: 0.3rem;
}

.animate-line:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/***************/
/** blink-img **/
/***************/
@keyframes blink {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.flash {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.blink {
    display: block;
    animation-name: blink;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

#reason-list:hover {
    cursor: pointer;
}

#reason-list li {
    font-family: 'Switzer-regular', Arial, sans-serif;
    font-size: 1.6rem;
}

#reason-list li .bg-img {
    opacity: 0;
    transition: all 0.3s;
}

#reason-list li:hover .bg-img {
    opacity: 1;
}